.art-display-index {
  margin: 0;
  padding: 0;
  width: '80vw';
  display: 'grid';
  grid-template-columns: 'repeat(auto-fill, 250px)';
  grid-auto-rows: '10px';
  position: 'absolute';
  left: '50%';
  transform: 'translateX(-50%)';
  justify-content: 'center';
  background-color: black;
}

.art-intro {
  background: linear-gradient(#CED2FF, #FDF8F8);
  padding-top: 10%;
  padding-bottom: 5%;
  margin-top: -5%;
  border-radius: 50px;
  text-align: center;
}

.art-intro .title-text1 {
  font-size: 5rem;
  color: #8D94E2;
  font-weight: bold;
}

.art-btn {
  appearance: none;
  font-family: "Didact Gothic", sans-serif;
  background-color: #CED2FF;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1% 5%;
  cursor: pointer;
  text-align: center;
}


.grid-container img {
  border-radius: 25px;
}

.grid-container {
    background-color: #FDF8F8;
    padding: 5%;
    padding-top: 1%;
    -webkit-column-count: 3;
    -moz-column-count:3;
    column-count: 5;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 10px;
    }
    
    .grid-item {
    display: inline-block;
    width: 100%;
    background-color: #e5e1d8;
    color: black;
    }
    
    .grid-item img {
      display:block;
      width: 100%;
    }
  
    /* make prettier */
  .grid-item span {
    font-family: "Didact Gothic", sans-serif;
    display:block;
    padding:10px;
    }
    
  .grid-item {
    margin-bottom: 15px;
    border: 1px solid #e5e1d8;
    border-radius: 20px;
  }
  
  .grid-item:hover {
    background-color: #f1f1ed;
    color: black;
  }
  
  /** resrcs alt page **/
  .input-container {
    font-family: "Didact Gothic", sans-serif;
    background-color: #55506B;
    padding: 5% 40%;
    width: 100%;
    justify-content: center;
  }
  
  input {
    font-family: "Didact Gothic", sans-serif;
    border: 1px solid #EEA5A6;
    padding: 3%;
  }
  
  button {
    background-color: #f1f1ed;
    padding: 3%;
    border: none;
    font-family: "Didact Gothic", sans-serif;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
  }
  
  button:hover {
    background-color: #EEA5A6;
  }
  
  .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: var(--purple);
    border-radius: 10px;
    color: var(--off-white);
    font-size: var(--md);
    margin-bottom: var(--sm);
    margin-right: var(--sm);
    padding: var(--xs) var(--sm);
  }
  
  .remove-tag {
    cursor: pointer;
    margin-left: 5px;
  }