/*.blog-container {
    padding: 5%;
    align-items: end;
    width: 40%;
    text-align: left;
    float: right;
    color: white;
    background-color: black;
    margin-top: 5%;
    margin-bottom: 30%;
}

.share-container {
    float: left;
    text-align: left;
    color: white;
    background-color: black;
    padding: 5%;
    align-items: flex-end;
}
*/
.index {
    
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(227, 227, 227);
}

.intro-container {
    color: #F8F8F8;
    background-color: #7E6E6E;
    padding: 10%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
  }
  
  .intro-container h1{
    color: #F8F8F8;
    font-size: 4rem;
    padding: 1%;
  }
  
  .intro-container p {
    font-family: "Didact Gothic", sans-serif;
    color: #F8F8F8;
  }

.blog-child-left {
  text-align: left;
  flex-grow: 1;
  background-color: #7C4F4F;
  vertical-align: middle;
  flex-direction: column;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 35%;
}
.blog-child-left h1{
    color: #ffffff;
    font-size: 4rem;
    padding: 1%;
  }
  
  .blog-child-left p {
    font-family: "Didact Gothic", sans-serif;
    color: white;
  }

.blog-child-right {
  padding: 5%;
  margin-bottom: 5%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: left;
  flex-grow: 1;
  background-color: #7C4F4F;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-end;
  width: 35%;
  float: right;
}
.blog-child-right h1{
    color: #ffffff;
    font-size: 4rem;
    padding: 1%;
  }
  
  .blog-child-right p {
    font-family: "Didact Gothic", sans-serif;
    color: white;
  }

