.form-intro p {
	color: black !important; 
	text-align: left;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.left-child {
	display: inline-block;
	border: 1px solid black;
	padding: 1rem 1rem;
	vertical-align: middle;
	color: black;
	width: 49%;
}

.left-child input {
	margin-bottom: 25px;
	border-radius: 20px;
	border-color: black;
	filter: drop-shadow(2px 3px 4px #ababab);
	width: 100%;
}

.right-child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  color: black;
  width: 49%;
  text-align: left;
}

.tile h2 {
	font-weight: bold;
	font-size: 30px;
}

.tile {
	width:100%;
	border-radius: 15px;
	margin: 5%;
	border: 1px black solid;
	background-color: white;
	padding: 2%;
	filter: drop-shadow(4px 4px 4px #828282);
}
