/*.blog-container {
    padding: 5%;
    align-items: end;
    width: 40%;
    text-align: left;
    float: right;
    color: white;
    background-color: black;
    margin-top: 5%;
    margin-bottom: 30%;
}

.share-container {
    float: left;
    text-align: left;
    color: white;
    background-color: black;
    padding: 5%;
    align-items: flex-end;
}
*/
.index {
    
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(227, 227, 227);
}

.intro-container {
    color: #F8F8F8;
    background-color: #7E6E6E;
    padding: 10%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
  }
  
  .intro-container h1{
    color: #F8F8F8;
    font-size: 4rem;
    padding: 1%;
  }
  
  .intro-container p {
    font-family: "Didact Gothic", sans-serif;
    color: #F8F8F8;
  }