/* nav bar */

.navbar-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Didact Gothic", sans-serif;
  background: #f6f6f6;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  padding-bottom: 15px;
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.27);
  box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.27);
}

.navbar-subcontainer {
  padding: 20px;
  background: #0B032D !important;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo-text {
  color: #C16265 !important;

}

.navbar-text {
  color: #E5E1D8 !important;
  padding-right: 50px !important;
}

.navbar-row {
  align-items: center;
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 35px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #0d052c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.2s;
}

nav ul li::after {
  content: "";
  background: #EEA5A6;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}
nav ul li:hover {
  color: #fff;
  cursor: pointer;
}
nav ul li:hover::after {
  top: 50%;
  opacity: 1;
  cursor: pointer;
}

* {
  margin: 0;
  /* height: 100vh; */
}
