

.top-resource-heading {
    font-family: "David Libre";
    color: #E8848E;
    text-align: center;
    font-size: 4rem;
    padding: 5%;
}

.resource-container {
    color: #bfb1b5;
    text-align: left;
}

.resource-container p {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.on-resources {
    display: block;
    background-color: #F9F4F1;
    padding: 10%;
    border-radius: 50px;
    text-align: center;
}

.on-resources h1 {
    padding-bottom: 15px;
    font-size: 3rem;
}

.resource-container {
    display: flex;
}

.on-resources .resource-card {
    margin: 15px;
    background-color: #F7B1B8;
    padding: 5%;
    vertical-align: middle;
    color: #E8848E;
    display: inline-block;
    border-radius: 10px;
}

.on-resources .resource-card:hover {
    cursor: pointer;
}

.on-resources p {
    color:#e3e3db;
}

.on-resources h2 {
    color:#e5e1d8;
}

.on-resources ul {
    color: black;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.2rem;
}

.off-resources {
    margin-top: 50px;
    padding: 10%;
}

.off-resources h1 {
    padding-bottom: 15px;
    font-size: 3rem;
    color: #E8848E;
    text-align: center;
}

.off-resources .resource-card {
    margin: 15px;
    background-color: #BDC1F9;
    border-radius: 10px;
    padding: 5%;
    vertical-align: middle;
    display: inline-block;
    color:#aca8bc
}