@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about-us-team {
    padding: 10%;
    text-align: center;
    color: #8B9A4C;
    background-image: url("../Images/teambg.png");
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

.about-us-team h1 {
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    color: #8B9A4C;
}

.about-us-team h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #f9f4f1;
}

.team-intro {
    background-color: #E9EECD;
    padding: 5%;
}

.vl {
    border-left: 4px solid #8B9A4C;
    height: 250px;
    display: inline-block;
    vertical-align: top;
}

.team-intro-divs {
    margin: 3%;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.team-intro-divs h4 {
    color: #8B9A4C;
}

/* individual card components */

.member-container {
    text-align: center;
    padding: 5%;
}

.team-category {
    padding: 3%;
    text-align: center;
}

.team-category h1{
    text-align: left;
    font-size: 2rem;
}

.child {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    width: 35%;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
    font-size: 18px;
    text-align: left;
    background-color: #f9f4f1;
    padding: 2rem 2rem;
    object-fit: cover;
    -webkit-box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.27);
}

.card-info-child img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 15px;
}

.card-info-top {
    text-align: left;
    padding: 2%;
    border-bottom: 2px solid #eee9e3;
    width: 100%;
    display: inline-block;
}

.card-info-top img {
    height: 25px;
    width: 25px;
    display: inline-block;
    float: right;
}

.card-info-top p {
    color: #bcc195;
    padding-bottom: 5px;
    display: inline-block;
}

.card-info-child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 50%;
}

.card-info-child h2 {
    padding-bottom: 2%;
    color: #748c39;
    font-weight: bold;
}

.card-info-child h4 {
    color: #a6a789;
}

.card-info-child p {
    color: #cbcead;
}

.card-info-child img {
    width: 100%;
}

